@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.separarConteudos{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.Conteudos {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-self: flex-start;

    background-color: var(--bg-secundario);
    border: 2px solid var(--borda);
    border-radius: 16px;

    width: 65vw;
    height: auto;
    margin-bottom: 30px;
    padding-bottom: 30px;
}

.Conteudos h1{
    font-family: "Montserrat";
    color: var(--Texto2);
    text-align: center;
    font-size: clamp(18px, 3.2vw, 36px);

    margin: 20px 0px;
}

.UsuariosCadastrados{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 2px solid var(--borda);
    border-radius: 16px;
    width: 90%;
    align-self: center;
    margin-bottom: 20px;
    padding-top: 20px;
}

.UsuariosCadastrados h3{
    font-family: "Montserrat";
    color: var(--texto-principal);
    font-size: 22px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 910;
}

.UsuariosCadastrados p{
    font-family: "Montserrat";
    color: var(--texto-principal);
    font-weight: 900    ;
    font-size: 18px;
    text-align: center;
    white-space: nowrap;
    margin-bottom: 30px;
}

.UsuariosCadastrados span{
    display: inline;
    overflow: hidden;
    font-size: inherit;
    line-height: 1; 
    width: 0;  
    white-space: nowrap;
    vertical-align: bottom;
    animation: etc 1s steps(3) infinite;
}

.Acertos{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 2px solid var(--borda);
    border-radius: 16px;
    width: 30%;
    align-self: center;
    color: var(--Texto1);
    font-family: "Montserrat";
    font-size: 18px;
    
}

@keyframes etc {
    0%  { clip-path: inset(0 100% 0 0); }
    33% { clip-path: inset(0 66% 0 0); }
    66% { clip-path: inset(0 33% 0 0); }
    99% { clip-path: inset(0 0% 0 0); }

}

.Buscar input{
    margin-right: 20px;
    padding: 10px;
    padding-left: 30px;
    border-radius: 8px;
    border: none;

    font-family: "Montserrat";
    font-weight: 500;
    width: 28vw;
}

.botaoBuscar{
    background: linear-gradient(90deg, var(--BotaoADD-gradiente1), var(--BotaoADD-gradiente2));
    border: none;
    color: var(--texto-principal);
    width: 7vw;
    max-width: 7vw;
    height: 5vh;
    max-height: 3.5vh;
    border-radius: 12px;
    padding: 10px;
    margin-right: 20px;

    font-family: "Montserrat";
    font-weight: 700;
}

.Lista{
    display: flex;
    flex-direction: column;
    border: 1px solid var(--texto-principal);
    border-radius: 16px;
    width: 60vw;
    height: auto;
    align-self: center;
    padding: 10px;
    margin: 20px;
}

.ListaConquistas{
    background-color: var(--input-bg);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 15px;

    border: 2px solid var(--borda);
    position: relative; overflow: hidden;
    transition: transform 0.2s, border-color 0.2s;
    cursor: default;
    font-family: "Montserrat";
}

.ListaConquistas h6{
    font-size: 20px;
}

.ListaConquistas:hover { 
    border-color: var(--borda);
    transform: scale(1.01); ;
    transition: 0.2s;
}

.ConquistaAtributos{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


@media (max-width: 860px) {

    .Conteudos {
        width: 80vw;
        margin-bottom: 30px;
        /* margin-top: 100px; */
    }

    .botoes{
        width: 20%;
        margin: 0;
    }

    .itemBarraLateral {
        width: 90%;
        margin: 0px auto 12px auto;
    }

    .ConquistaInputs, .parteTelefone{
        width: 100%;
        flex-direction: column;
        padding: 0px;
        margin-bottom: 10px;
    }

    .Descricao{
        width: 80%;
    }

    .parteTelefone input, .ConquistaInputs input{
        width: 80%;
    }

    .alterarSenha{
        margin-top: 30px;
    }
    
    .conectarContas h2{
        font-size: 3.4vw !important;
    }
}

@media (max-width: 700px){

    .Conteudos {
        width: 95vw;
        flex-direction: wrap;
        margin-bottom: 30px;
        margin-top: 10px;
    }

    .Buscar{
        display: flex;
        flex-direction: row;
        min-width: 40vw;
        width: 100vw;
        justify-content: center;
        justify-items: center;
        align-items: center;
        margin: 10px;
    }

    .Buscar input{
        width: 60vw;
        justify-content: center;
    }   

    .Lista{
        width: 90vw;
        justify-content: center;
    }

    .itemBarraLateral {
        width: 100%;
        height: 5vhvh;
        margin: 0px auto 12px auto;
    }

    
}