@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.conteudoArtigo, .container{
    display: flex;
    flex-direction: column;

    margin-left: 20px;
    width: 66%;
    margin-bottom: 40px;
}

.parteCima{
    background-color: var(--bg-secundario);
    border: 2px solid var(--borda);
    border-radius: 12px;
    padding: 20px;
    display: flex;
    flex-direction: column;

    width: 100%;
}

.parteCima h1{
    text-align: center;
    margin-bottom: 20px;
    font-size: 36px;
    font-family: "Montserrat";
    color: var(--Texto2);
}

.inputs{
    display: flex;
    width: 100%;
    flex-direction: column;

    align-items: center;
}

.inputs label{
    text-align: start;
    font-family: "Montserrat";
    color: var(--Texto2);
    font-weight: 700;
    width: 81%;
}

.inputs input, .Enunciado input{
    width: 85%;
    margin-left: 15px;
    padding: 6px;
    padding-left: 22px;
    border-radius: 10px;
    border: 2px solid black;
    margin-top: 6px;
    background-color: var(--bg-secundario);
    font-size: 16px;
    color: var(--Texto3);
}

.inputs input:hover, .Enunciado input:hover{
    cursor: pointer;
}

.inputs input:focus, .Enunciado input:focus{
    outline: none;
    cursor: auto;
}

.inputs p, .Enunciado p{
    color: var(--Texto2);
    font-weight: 700;
    font-size: 12px;
    text-align: end;
    width: 87%;
    font-family: "Montserrat";
}

.tipo{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;

    width: 81%;
    margin-top: 30px;
}

.tipo label{
    text-align: start;
    font-family: "Montserrat";
    color: var(--Texto2);
    font-weight: 700;
    width: 100%;
    
    margin-bottom: 12px;
}

.escolherTipo{
    display: flex;
    flex-direction: row;
    width: 100%;
    
    justify-content: space-around;
}

.opcoesTipo{
    display: flex;
    align-items: center;

    gap: 10px;
}

.opcoesTipo img{
    width: 3vw;
    max-width: 30px;
}

.opcoesTipo p{
    font-family: "Montserrat";
    color: var(--Texto2);
    font-weight: 700;
}

.parteMeio{
    margin-top: 40px;
    background-color: var(--bg-secundario);
    border: 2px solid var(--borda);
    border-radius: 12px;

    padding: 20px;
    display: flex;
    flex-direction: column;

    width: 100%;
}

.parteMeio h2{
    text-align: center;
    font-family: "Montserrat";
    font-size: 32px;
    font-weight: 700;
    color: var(--Texto2);

    margin-bottom: 40px;
}

.parteMeio .inputs{
    margin-bottom: 20px;
}

.botoes{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.botoes button{
    padding: 12px;
    min-width: 120px;

    background: var(--btn-Criar-Materia);
    border: 2px solid var(--borda);
    border-radius: 10px;
    color: var(--btnUsuario);
    font-family: "Montserrat";
    font-weight: 700;
}

.botoes button:hover{
    transform: scale(1.03);
    transition: ease 0.3s;
}

/* exercicios */

/* .container{
    width: 100%;
    display: flex;
    flex-direction: column;
} */

 .parteExercicios{
    background-color: var(--bg-secundario);
    border: 2px solid var(--borda);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 20px;

    margin-bottom: 40px;
 }

 .parteExercicios h1{
    text-align: center;
    font-family: "Montserrat";
    color: var(--Texto2);
    font-size: 36px;
 }

 .Enunciado{
    display: flex;
    flex-direction: column;;
    width: 90%;
 }

 .Enunciado label, .alternativas label{
    font-family: "Montserrat";
    color: var(--Texto2);
    font-weight: 800;
    font-size: 26px;

    margin-top: 30px;
    margin-left: 15px;
    margin-bottom: 2px;
 }

 .Enunciado input{
    width: 100%;
    background-color: var(--bg-secundario);
    border: 2px solid black;
    border-radius: 12px;
    color: var(--Texto2);
 }

 .Enunciado p{
    width: 100%;
    margin-left: 12px;
 }

 .alternativas{
    width: 88%;
    display: flex;
    flex-direction: column;

    margin: 10px 0px;
    margin-bottom: 30px;
    gap: 30px;
 }

 .alternativas label{
    font-size: 26px !important; 
 }

.opcoesAlternativa{
    margin-left: 16px;
    display: flex;
    align-items: center;
}

 .opcoesAlternativa img{
    width: 4vw;
    max-width: 54px;
    min-width: 26px;
    margin-right: 30px;
 }

 .opcoesAlternativa input{
    padding: 10px;
    padding-left: 30px;
    max-height: 30px;
    width: 94%;
    background-color: none;
    border: 2px solid black;
    border-radius: 12px;
 }

.opcoesAlternativa input:hover{
    cursor: pointer;
}

.opcoesAlternativa input:focus{
    cursor: auto;
    outline: none;
}
 

@media (max-width: 861px){

    .conteudoArtigo, .parteExercicios, .container{
        width: 100%;
        align-items: center;
        margin-left: 0px;
    }

    .parteCima, .parteMeio, .parteExercicios{
        width: 90%;
    }

    .tipo{
        width: 100%;
    }

    .escolherTipo{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .opcoesTipo{
        gap: 10px;
        width: 40%;

        justify-content: center;
    }

    .botoes{
        margin-top: 20px;
    }
}