.Caixa {
  position: fixed;
  top: 80%;
  right: 50%;
  transform: translate(50%);
  z-index: 9999;
  pointer-events: none;
}

.Card {
  pointer-events: all;
  display: flex;
  gap: 12px;
  padding: 14px 16px;
  border-radius: 10px;
  border-left: 4px solid;
  min-width: 400px;
  max-width: 500px;
  height: 90px;
  animation: Entrar 0.22s ease;

  display: flex;
  align-items: center;
}

.Card_hardware {
  background: #203620;
  border: none;
}

.Card_software {
  background: #122438;
  border: none;
}

.Card_outros {
  background: #25203a;
  border: none;
}

.Icone {
  width: 36px;
  height: 36px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-top: 2px;
  margin-left: 10px;
  margin-right: 12px;
  font-size: 20px;
}

.Card_hardware .Icone {
    background: #5db528; 
}

.Card_software .Icone { 
    background: #1565c0; 
}

.Card_outros .Icone { 
    background: #7c4dff; 
}

.IconeImagem {
  width: 22px;
  height: 22px;
  object-fit: contain;
  filter: brightness(0) invert(1);
}

.Etiqueta {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.6px;
  padding: 2px 7px;
  border-radius: 4px;
  margin-bottom: 5px;
  color: white !important;
}

.Conteudo { 
    flex-direction: column; 
    display: flex;
    width: 90%;
}

.Titulo {
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 3px;
}

.Mensagem {
  font-size: 12px;
  opacity: 0.85;
}

.Card_hardware .Titulo { 
    color: #a8e63d;
}

.Card_hardware .Mensagem {
    color: #6fa83a;
}

.Card_software .Titulo { 
    color: #29b6f6; 
}

.Card_software .Mensagem { 
    color: #1e7bb5; 
}

.Card_outros .Titulo  { 
    color: #b39ddb; 
}

.Card_outros .Mensagem { 
    color: #7e57c2; 
}

.BotaoFechar {
  background: none;
  border: none;
  font-size: 22px;
  align-self: flex-start;
  padding: 0 4px;
  color: white;
  opacity: 0.9;
}

.BotaoFechar:hover {
  cursor: pointer;
}