@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');


.Carrosel{
    width: 50%;
    margin-top: 25px;
    height: 40vh;
    
    background-color: var(--bg-terceiro);
    border-radius: 14px;

    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25);
}

@media (min-width: 1900px) {
    .Carrosel {
        /* width: 50px;
        height: 50px; */
    }
}

.Conteudo{
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    height: 30vh;
    color: var(--Texto2);
}

.Conteudo h2{
    font-size: 40px;    
    margin-bottom: 10px;
}

.Conteudo p{
    font-size: 20px;
}

.Controles {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 12px;
}

.Controles button{
    background: var(--Voltar-Card);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: none;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
    color: var(--Texto2);
    font-size: 25px;
    cursor: pointer;
}

.Avancar{
    background: var(--Entrar-Inicial) !important;
    color: white !important;
}

.Ativo{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ccc;
    cursor: pointer;
    display: inline-block;

    transition: scale 0.3s;
    transform: scale(1.03);
}


.Inativo {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #333;
    cursor: pointer;
    display: inline-block;

    transition: scale 0.3s;
    transform: scale(0.9);
}

