@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.separarConteudos{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.Conteudos {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-self: flex-start;

    background-color: var(--bg-secundario);
    border: 2px solid var(--borda);
    border-radius: 16px;    

    width: 65vw;
    height: auto;
    margin-bottom: 30px;
}

.Conteudos h1{
    font-family: "Montserrat";
    color: var(--Texto2);
    text-align: center;
    font-size: 30px;

    margin: 20px 0px;
}

.MotivoBan{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 22vw;
    min-width: 500px;
    background-color: #1c1b2e;
    border: 1px solid rgba(255, 255, 255, 0.12);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.6);
    z-index: 9999;
    border-radius: 16px;
    padding: 36px 24px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.MotivoBan h3{
    font-family: "Montserrat";
    color: #e05252 !important;
    font-weight: 700;
    font-size: 16px;
    text-align: center;

    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.87);
}

.TextoBan{
    width: 100%;
    height: 30px;
    border-radius: 8px;
    border: 1px solid var(--borda);
    text-indent: 20px;
    margin-top: 10px;
}

.BotoesModal{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 8px;
    gap: 30px;
    width: 100%;
}

.BotoesModal button{
    padding: 10px;
    border-radius: 20px;
    border: 1px solid var(--borda);
    transform: scale(1);
    
}

.BotoesModal button:hover{
    transform: scale(1.03);
    transition: 0.2s;
}

.ModalBan{
    background-color: #e05252;
    color: white;
}

.Buscar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-self: center;
    align-items: center;
    margin: 40px 30px 40px 40px;
    width: 100%;
    height: 5vh;
    gap: 6px;
}

.Buscar input{
    margin-right: 20px;
    padding: 10px;
    padding-left: 30px;
    border-radius: 15px;
    border: 2px solid black;

    font-family: "Montserrat";
    font-weight: 500;
    width: 28vw;
}

.botaoBuscar{
    background: var(--Login);
    border: none;
    color: var(--Texto1);
    width: 30%;
    min-width: 120px;
    max-height: 5vh;
    border-radius: 12px;
    padding: 10px;
    margin-right: 20px;

    font-family: "Montserrat";
    font-weight: 700;
}


.Lista{
    display: flex;
    flex-direction: column;
    border: 1px solid var(--borda);
    border-radius: 16px;
    width: 60vw;
    max-height: 50vh;
    overflow-y: auto;
    scrollbar-width: none;
    align-self: center;
    padding: 10px;
    margin: 20px;
    overflow-y: auto;

    padding-top: 10px;
}


.ListaConquistas{
    background: var(--bg-secundario);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 15px;
    width: 100%;
    height: auto;

    border: 2px solid var(--borda);
    /* position: relative; overflow: hidden; */
    transition: transform 0.2s, border-color 0.2s;
    cursor: default;
    font-family: "Montserrat";
    /* overflow: hidden; */
}

.ItensLista{
    display: flex;
    width: 100%;
    /* height: 10vh; */
    flex-direction: row;
    /* justify-content: space-between; */
    gap: 10px;
    
}

.Dados{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ItensLista img{
    margin-top: 2px;
    margin-left: 10px;
    width: 60px;
    height:60px;
    border-radius: 50%;
}

.ItensLista h6{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 20px;
    color: var(--Texto2);
    justify-items: center;
}

.ItensLista p{
    margin-top: 15px;
    font-size: 15px;
    color: var(--Texto2);
    margin-left: 10px;
    width: 20%;
}

.Dados p{
    width: 100%;
    margin-top: 5px;
    margin-left: 20px;
    font-size: 12px;
    color: var(--Texto2);
}

.Botoes{
    display: flex;
    align-self: center;
    gap: 10px;
    width: 80%;
    justify-content: flex-end;
    margin: 10px;
    
}

.Botoes button{
    padding: 8px;
    border-radius: 15px;
    border: none;
    width: 20%;
    font-size: 15px;
    background: var(--Login);
    color: var(--Texto1);
    transform: scale(1);
}

.Botoes button:hover{
    transform: scale(1.03);
    transition: 0.50s;
}

.botaoDeletar{
    background-color: transparent;
}

.botaoDeletar:hover{
    background-color: red;
    color: white;
    border: 2px solid red;
    transition: 0.50s;
}

.ListaConquistas:hover { 
    border-color: var(--borda);
    transform: scale(1.01); ;
    transition: 0.2s;
}

.sanfona{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-self: center;
    width: 100%;
    border-radius: 10px;
    /* background: var(--gradiente-usuarios); */
    color: white;
    gap: 10px;
    transform: scale(1);
}

.sanfona button:hover{
    transform: scale(1.03);
    transition: 0.50s;

}

.btnSanfona{
    margin-top: 15px;
    padding: 7px;
    width: 50%;
    color: var(--texto-principal);
    font-weight: 700;
    font-size: 15px;
    background: var(--bg-secundario);
    border: 1px solid var(--texto-principal);
    border-radius: 10px;
}

button.Banir{
    font-weight: 700;
    font-size: 15px;
    border-radius: 10px;
    margin-top: 15px;
    /* margin-left: 80px; */
    padding: 0px 30px;
    height: 30px;
    align-self: center;
    width: 50%;
    max-width: none !important;
    background-color: var(--bg-secundario);
    color: var(--popup-erro-texto);
    border: 2px solid var(--popup-erro-borda);
}

@media (max-width: 1150px){
    
    .Botoes button{
        width: 70%;
    }
}

@media (max-width: 700px){
    /* .separarConteudos {
        flex-direction: wrap;
        align-items: center;
    } */

    .Conteudos {
        width: 100vw;
        flex-direction: wrap;
        margin-bottom: 30px;
        margin-top: 10px;
    }

    .Buscar{
        display: flex;
        flex-direction: row;
        min-width: 40vw;
        width: 95%;
        justify-content: center;
        justify-items: center;
        align-items: center;
        margin: 10px;
    }

    .Buscar input{
        width: 60vw;
        justify-content: center;
    }

    .botaoBuscar{
        min-width: 20%;
    }

    .Lista{
        width: 90vw;
        justify-content: center;
    }

    .Botoes{
        display: flex;
        flex-direction: column;
    }

    .Botoes button{
        min-width: 100%;
    }

    .sanfona button{
        min-width: 5%;
    }

    .Banir{
        margin: 0px;
        min-height: 10%;
        min-width: 100%;
    }

    /*.ListaConquistas{
        display: flex;
        flex-direction: row;
    } */
}

@media (max-width: 440px){

    .Buscar{
        flex-direction: column;
    }

    .Buscar input{
        margin-right: 0px;
    }

    .botaoBuscar{
        margin-right: 0px;
        width: 60vw;
    }

    .Lista{
        height: auto;
        padding-top: 640px;
    }

    .ItensLista{
        flex-wrap: wrap;
    }

    .Botoes{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .sanfona{
        flex-wrap: wrap;
        justify-content: center;
    }

    .Botoes button{
        width: 20% !important;
        max-width: none;
    }

    .sanfona button{
        width: auto;
    }
}