@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.Temabtn{
    margin-right: 20px;
}

.corpo {
    background-color: var(--bg-principal);
}

.Rodape {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    color: var(--texto-principal) !important;
    background-color: var(--bg-principal);
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    border-top: 1px solid rgba(0, 0, 0, 0.24);
}

.Container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
}

.Rodape img {
    width: 44px;
    height: 44px;
}

.Marca {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Marca p {
    width: 100%;
    max-width: 250px;
    text-align: center;
    margin-top: 16px;
    font-size: 13px;
    line-height: 1.5;
}

.Colunas {
    display: flex;
    gap: 40px;          
    justify-content: space-between;
}

.Colunas div.informacoes {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.Colunas p {
    font-size: 14px;
}

.RedesSociais {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.RedesSociais a:hover{
    transform: scale(1.1);
    transition: 0.6s ease;
}

.RedesSociais h5{
    font-size: 22px;
    margin-bottom: 16px;
}

.Tamanho {
    display: flex;
    flex-direction: row;
    width: auto;       
    gap: 24px;
    flex-wrap: wrap;
}

.Copy {
    text-align: center;
    width: 100%;
    margin-top: 20px;
    font-size: 12px;
}

.Rodape h4 {
    font-size: 30px;
    font-family: "Exo 2", sans-serif;
    font-weight: 800;
    color: var(--texto-principal);
    margin-left: 10px;
}

.Rodape a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--texto-principal);
}

.informacoes {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 10px;
}

.informacoes h5 {
    color: var(--Texto2);
    text-align: start;
    margin-left: 0;
    font-size: 22px;
}

@media (max-width: 800px) {
    .Container {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        gap: 24px;
    }

    .Marca {
        align-items: center;
        text-align: center;
    }

    .Marca p {
        display: block; 
        max-width: 300px;
    }

    .RedesSociais{
        text-align: center;
    }

    .informacoes {
        align-items: center;
    }
}

@media (max-width: 480px) {
    .Rodape {
        padding: 16px;
    }

    .Container{
        flex-direction: column;
    }

    .RedesSociais {
        align-items: center;
    }

    .Tamanho {
        justify-content: center;
    }

    .informacoes {
        align-items: center;
    }

    .informacoes h5,
    .informacoes p {
        text-align: center;
    }

    .Marca p {
        display: none;
    }

    h5 {
        font-size: 16px;
        text-align: center;
    }
}